@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}

img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-section {
  background-image: url(/public/assets/images//astronot.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
